<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.ico">

  <title>Delhi Police</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <style>
    body{
   background-image: url("/police.jpeg");
  
   background-position: center;
  background-repeat: no-repeat;
   background-size: 150%;
 
    }
    .res{
      height: 100px;
      width: 100px;

    }
    .card{
      border-radius: 10%;
    }
    button{
      width: 20%;
      margin-left: 40%;
    }
    .container img{
      margin-left: 18%;
    }
    .container{
      margin-left: 33%;
    color: black;
    border-radius: 10px;
    }
    .container h1{
      color: white;
      margin-left: 18%;
    }
    .row{
      width: 71%;
    }
    .button{
    display: block;
    width: 115px;
    height: 43px;
    background: #052680;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none ;
  }
 @media(max-width: 1000px) {
  body{
    background-image: url("/police_r.jpeg");
    background-size: 501%;
    
  }
}


  </style>
</head>

<body>
