<%- include('partials/header') %>

<div class="container mt-5">
  <img src="/DP_small.png" alt="">
  <h1>Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/beat/login" method="POST">
            <div class="form-group">
              <!-- <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password"> -->
              <label for="">Beat ID</label>
              <input type="number" class="form-control" name="No">
              <div class="input-field">
                <label>Verified/Unverified</label>
                <select name="verification" required>
                    <option disabled selected>your answer</option>
                    <option>Verified</option>
                    <option>Unverified</option>
                </select>
            </div>
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>
           <p><%= warning %></p>
        </div>
        
        
      </div>
      
    </div>

  </div>
</div>

<%- include('partials/footer') %>